@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url(http://fonts.googleapis.com/css?family=Raleway);

.container {
	width: 100%;
}

.collapsible-body ul {
	line-height: 3;
}

.navbar-section {
	height:100vh;
	font-family: arial;
/*	position: fixed;
	top: 0;
	left: 0;*/
}

.nav-wrapper {
	background-color: white;
}

.name-div {
	margin-bottom: 10px;
	padding: 20px;
}

.name {
	font-family: 'Quicksand', sans-serif;
	font-size: 4vh;
	line-height: 1;
	color: #8FD8D2;
	margin-bottom: 0;
}

.job-title {
	font-size: 16px;
	color: gray;
	text-decoration: none;
}

.nav-link-div {
	border-top: 1px solid gray;
	padding-top: 20px;
}

.nav-link-list {
	list-style-type: none;
	margin-left: 15px
}

.nav-link-list li {
	line-height: 3;	
}

.nav-icon {
	height: 20px;
}

.nav-link {
	font-family: arial;
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin: 0px 20px;
}

.main-section {
	overflow-y: auto;
	scroll-behavior: smooth;
}

.header-img-section {
	height:100vh;
}

.section-header {
	color: white;
	font-family: 'Quicksand', sans-serif;
	padding: 2vh 0px 2vh 2vh;
	font-size: 40px;
}

.about {
	background-color: #FAD0C3;
}

.portfolio {
	background-color: #DF744A;
}

.skills {
	background-color: #DFBA88;
}

.contact {
	background-color: #DCB239;
}

.about-content {
	background-color: white;
	font-size: 25px;
	font-family: 'Raleway', arial;
	padding: 5vh 10vh;
}

.about-emphasized {
	font-size: 35px;
	font-family: 'Libre Franklin', sans-serif;
}

.portfolio-content,
.skills-content {
	background: url(../images/organic-tiles.png);
	padding: 5vh;
}

.project-img {

}

.skill-div {
	background-color: white;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.skill-name {
	font-size: 28px;
	font-family: 'Quicksand', sans-serif;
	padding: 30px 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e2e2e2;
}

.skill-icons {
	padding: 2vh;
}

.skill {
	text-align: center;
}

.icon {
	height: 8vh;
}

.contact-content {
	background: url(../images/organic-tiles.png);
	height: 90vh;
	padding: 5vh;
}

.contact-row {
	text-align: center;
}

.contact-icon {
	height: 7vh;
}

.contact-text {
	padding-top: 10px;
}

/*Modal Styling*/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

@media #{$medium-and-down} {
    // styles for medium screens and down
  }














